<div class="test">
  <div class="test-xs mb-2 p-3">
    (xs) I will be displayed from 0 and up <br />
    * No media query since this is the default in Bootstrap
  </div>

  <div class="test-sm mb-2 p-3">(sm) I will be displayed from 576px and up</div>

  <div class="test-md mb-2 p-3">(md) I will be displayed from 768px and up</div>

  <div class="test-lg mb-2 p-3">(lg) I will be displayed from 992px and up</div>

  <div class="test-xl mb-2 p-3">
    (xl) I will be displayed from 1200px and up
  </div>
</div>
