<div class="test">
  <div class="test-xs mb-2 p-3">
    (xs) I will be displayed from 0 to 575.98 px
  </div>

  <div class="test-sm mb-2 p-3">
    (sm) I will be displayed from 0 to 767.98 px
  </div>

  <div class="test-md mb-2 p-3">
    (md) I will be displayed from 0 to 991.98 px
  </div>

  <div class="test-lg mb-2 p-3">
    (lg) I will be displayed from 0 to 1199.98 px
  </div>

  <div class="test-xl mb-2 p-3">
    I will be always displayed <br />
    *(xl) No media query since the extra-large breakpoint has no upper bound on
    its width
  </div>
</div>
