<div class="test">
  <div class="test-xs mb-2 p-3">
    (xs) Extra small devices (portrait phones, Between 0 and 575.98px)
  </div>

  <div class="test-sm mb-2 p-3">
    (sm) Small devices (landscape phones, Between 576px and 767.98px)
  </div>

  <div class="test-md mb-2 p-3">
    (md) Medium devices (tablets, Between 768px and 991.98)
  </div>

  <div class="test-lg mb-2 p-3">
    (lg) Large devices (desktops, Between 992px and 1199.98px)
  </div>

  <div class="test-xl mb-2 p-3">
    (xl) Extra large devices (large desktops, 1200px and up)
  </div>
</div>
